{% extends "base.html" %}

{% block content %}
<h2>» Metadata removed</h2>
<p>
{% if not meta_after %}
mat2 managed to remove <b>all metadata</b> from <pre>{{ filename }}</pre>.
{% else %}
mat2 <b>could not</b> remove all the metadata from <pre>{{ filename }}</pre>, those are the remaining ones:
<ul>
	{% for key, value in meta_after.items() %}
	<li> <b>{{ key }}</b>: {{ value }}</li>
	{% endfor %}
	</ul>
{%endif %}
</p>
<a class="button button-primary" download href='{{ url_for('download_file', key=key, filename=filename) }}'>⇩ Download cleaned file</a>

<hr/>

{% if meta %}
<p>Just for fun, those are the metadata that mat2 detected in your file, before cleanup.</p>
<div class='b'>
	<ul>
	{% for key, value in meta.items() %}
	<li>{{ key }}: <i>{{ value }}</i></li>
	{% endfor %}
	</ul>
</div>
{% else %}
<p>Not a single metadata was found by mat2, odds are that your file was already clean!</p>
{% endif %}

<hr/>

{% endblock %}

